.logo-text{
    font-size: 1.5em;
    padding: 10px 10px 10px 10px;
}
.logo-text span{
    color: rgb(94, 203, 218)
}
.nav-right{
    float: right!important;
    padding-top: 10px;
}
.navbar-stage-specific {
    padding-block-end: 10px;
    padding-block-end: 10px;
    padding-left: 50px;
    padding-right: 50px;
}